GITHUB_TOKEN=
SO_ACCESS_TOKEN=
SO_TOKEN_KEY=
BOT_URL=
GITHUB_URL=
SO_URL=
ACCESS_TYPE=
CHECKER_BATCH_SIZE=
SENDER_BATCH_SIZE=
THREADS_COUNT=
CHECK_INTERVAL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_URL=jdbc:postgresql://localhost:${POSTGRES_PORT}}/${POSTGRES_DB}
TRANSACTIONAL_ID
